@charset "UTF-8";

body {
    background-color: rgb(214, 255, 251);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(47, 104, 94);

}

h1#principal {
    text-align: center;
    background-color: rgb(134, 173, 134);
    color: white
}

h2 {
    color: rgb(0, 0, 0);
}
.basico{
    color: green;
}
.intermediario{
    color:rgb(172, 172, 2);
}
.avançado{
    color:rgb(160, 76, 76);
    font-weight: bold;
}
.destaque{
    background-color: rgb(230, 230, 180);
}